@using Cloudflow.Web.Utility.HtmlHelpers
@model Cloudflow.Web.ViewModels.Jobs.ConditionViewModel

<div role="tabpanel" class="tab-pane @(Model.Active ? "active" : "")" id="@Model.ConditionDefinitionId">
    <input type="hidden" name="@($"{Model.PropertyName}[{Model.Index}].ConditionDefinitionId")"
           id="@($"{Model.PropertyName.Replace('.','_')}[{Model.Index}]_ConditionDefinitionId")"
           value="@Model.ConditionDefinitionId" />
    @Html.CreateModelEdit(Model.ExtensionConfiguration, new List<string> { $"{Model.PropertyName}[{Model.Index}].ExtensionConfiguration" })
</div>
