@model Cloudflow.Web.ViewModels.Jobs.ConditionCollectionViewModel

<section id="@(Guid.NewGuid())" class="container-fluid objectCollectionEdit" data-extensiontype="@(Cloudflow.Core.Extensions.ConfigurableExtensionTypes.Condition)" 
    data-propertyname="@Model.PropertyName">

    <div class="col-md-3 panel panel-default">
        <div class="panel-body">
            <div>
                <a data-toggle="modal" data-target="#ConditionExtensionBrowser"
                   class="btn btn-default objectCollectionEdit__addButton" href="#">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add Condition
                </a>
            </div>

            <hr />

            <ul class="nav nav-pills nav-stacked objectCollectionEdit__navigationItems">
                @foreach (var condition in Model)
                {
                    @Html.Partial("_ConditionNavigationItem", condition)
                }
            </ul>
        </div>
    </div>

    <div class="tab-content col-md-9 objectCollectionEdit__items">
        @foreach (var condition in Model)
        {
            @Html.Partial("_ConditionEdit", condition)
        }
    </div>
</section>

