@model Cloudflow.Web.ViewModels.Jobs.ExtensionConfigurationViewModel
@using Cloudflow.Web.Utility.HtmlHelpers

<div role="tabpanel" class="sortableItem tab-pane @(Model.Active ? "active" : "")" id="tab@(Model.Id)">
    <input type="hidden" name="StepsViewModel.Steps[@Model.Index].Id"
           id="StepsViewModel.Steps[@Model.Index]_Id"
           value="@Model.Id" />
    <input type="hidden" name="StepsViewModel.Steps[@Model.Index].ExtensionId"
           id="StepsViewModel.Steps[@Model.Index]_ExtensionId"
           value="@Model.ExtensionId" />
    <input type="hidden" name="StepsViewModel.Steps[@Model.Index].ExtensionAssemblyPath"
           id="StepsViewModel.Steps[@Model.Index]_ExtensionAssemblyPath"
           value="@Model.ExtensionAssemblyPath" />

    <input class="sortableItemPosition" type="hidden" name="StepsViewModel.Steps[@Model.Index].Position"
           id="StepsViewModel.Steps[@Model.Index]_Position"
           value="@Model.Index" />

    @Html.ExtensionConfiguration(Model, "StepsViewModel.Steps[" + Model.Index + "]")
</div>