@using Cloudflow.Web.Utility.HtmlHelpers
@model Cloudflow.Web.ViewModels.Jobs.EditJobViewModel

@{
    ViewBag.Title = "Edit Job";
    ViewBag.ActivePage = "Jobs";
}

@section headScripts {
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/Scripts/Jobs/EditJob.js"></script>
    @Scripts.Render("~/bundles/ExtensionConfigurationEdits")
}

<section>
    <h3>@Model.ExtensionConfiguration.Configuration.Name</h3>

    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="panel panel-default">
                <div class="panel-body">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Save
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-default">
                        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                        Back to Jobs
                    </a>
                </div>
            </div>

            @Html.CreateModelEdit(Model)
        }
    </section>
</section>

@*Render extension browser dialogs for adding extensions*@
@Html.Action("Steps")
@Html.Action("Conditions")
