@using Cloudflow.Web.HtmlHelpers;
@model Cloudflow.Web.ViewModels.Jobs.EditViewModel

@{
    ViewBag.Title = "Jobs";
    ViewBag.ActivePage = "Jobs";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.ConfigurationViewModel.Configuration.Name</h3>
        </div>
        <div class="panel-body">
            @Html.HiddenFor(model => model.JobDefinition.JobDefinitionId)

            @Html.ExtensionConfiguration(Model.ConfigurationViewModel, "ConfigurationViewModel")
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

   
<div>
    @Html.ActionLink("Back to List", "Index")
</div>