@model Cloudflow.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

@section headScripts {
    @Scripts.Render("~/bundles/signalr")
@foreach (var agent in Model.AgentConfigurations)
    {
    <script src="http://@agent.MachineName:80/CloudflowAgent/signalr/hubs"></script>
}
}

<script>
    $(function () {
        InitializeAgentControllers();
    });

    var _agentControllerProxies = [];
    function InitializeAgentControllers() {
        @foreach (var agent in Model.AgentConfigurations)
        {
        <text>
        $.connection.hub.url = "http://@agent.MachineName:80/CloudflowAgent/signalr";
        var agentControllerProxy = $.connection.agentController;
        agentControllerProxy.client.addMessage = function (message) {
            AddMessage("@agent.MachineName", message);
        };
        $.connection.hub.start().done(function(){
            _agentControllerProxies.push({ agentName: "@agent.MachineName", agentControllerProxy: agentControllerProxy });
            SetStatusText("@agent.MachineName");
        });
        </text>
        }
    }

    function StartAgent(machineName) {
        var agentControllerProxyEntry = _agentControllerProxies.find(function (item) {
            return item.agentName === machineName;
        });

        if (typeof agentControllerProxyEntry !== "undefined") {
            agentControllerProxyEntry.agentControllerProxy.server.startAgent();
        }
    }

    function AddMessage(machineName, message) {
        console.log("Message received from " + machineName + " - " + message);
    }

    function SetStatusText(machineName) {
        $("#agentStatus-" + machineName).text("");

        var agentControllerProxyEntry = _agentControllerProxies.find(function (item) {
            return item.agentName === machineName;
        });

        if (typeof agentControllerProxyEntry !== "undefined") {
            agentControllerProxyEntry.agentControllerProxy.server.getAgentStatus().done(function (status) {
                $("#agentStatus-" + machineName).text(status.StatusDisplayText);
            });
        }
    }
</script>



<div class="jumbotron">
    <h1>Cloudflow</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Agents</h3>
            </div>
            <div class="panel-body">
                <p>
                    Use this section to control your agents.
                </p>
                @Html.ActionLink("Add", "Create", "AgentConfigurations", null, new
                   {
                       data_modal = "",
                       data_modalcontainer = "modalAgent",
                       data_modalcontent = "modalAgentContent",
                       id = "btnAdd",
                       @class = "btn btn-small btn-primary"
                   })
            </div>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Machine Name</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var agent in Model.AgentConfigurations)
                {
                    <tr>
                        <td>@agent.MachineName</td>
                        <td>
                            @{
                                if (@agent.Enabled)
                                {
                                    <a href="#" id="agentStatus-@agent.MachineName">

                                    </a>
                                }
                                else
                                {
                                    <text>Disabled</text>
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "AgentConfigurations", new { id = @agent.Id }, new
                       {
                           data_modal = "",
                           data_modalcontainer = "modalAgent",
                           data_modalcontent = "modalAgentContent",
                           @class = "btn btn-small btn-default"
                       })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "AgentConfigurations", new { id = @agent.Id }, new
                                {
                                    data_modal = "",
                                    data_modalcontainer = "modalAgent",
                                    data_modalcontent = "modalAgentContent",
                                    @class = "btn btn-small btn-default"
                                })
                        </td>
                        <td><a href="#" class="startAgentLink" data-machinename="@(agent.MachineName)">Start Agent</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="modal fade in" id="modalAgent" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalAgentContent"></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".startAgentLink").each(function () {
            $(this).on("click", function (e) {
                var $item = $(e.target);
                var machineName = $item.attr("data-machinename");
                StartAgent(machineName);

                return false;
            });
        });
    });
</script>

@section Scripts {

}