@model Cloudflow.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

@section headScripts {
    @Scripts.Render("~/bundles/signalr")
    @foreach (var agent in Model.AgentConfigurations)
    {
        <script src="http://@agent.MachineName:80/CloudflowAgentControl/signalr/hubs"></script>
    }
}


@foreach (var agent in Model.AgentConfigurations)
{
    <script>
    $(function() {
        //Set the hubs URL for the connection
        $.connection.hub.url = "http://@agent.MachineName:80/CloudflowAgentControl/signalr";

        // Declare a proxy to reference the hub.
        var messenger = $.connection.generalMessageHub;

        // Create a function that the hub can call to broadcast messages.
        messenger.client.sendMessage = function(message) {
            console.log("Message from agent @agent.MachineName - " + message);
        };
    });
    </script>
}

<script>
    function EnableJob(machineName) {
        $.ajax({
        url: "http://" + machineName + "/CloudflowAgentService/EnableJob",
            type: "GET",
            crossDomain: true,
            data: "",
            dataType: "json",
            success: function () {

            },
            error: function (jqXHR, textStatus, errorThrown) {

            },
            complete: function () {
                SetStatusText(machineName);
            }
        });
    }

    function SetStatusText(machineName) {
        var statusText = "Unreachable";

        $.connection.hub.url = "http://" + machineName + ":80/CloudflowAgentControl/signalr";
        var messenger = $.connection.generalMessageHub;

        $.connection.hub.start().done(function () {
            // Call the GetAgentStatus method on the hub.
            messenger.server.getAgentStatus();
        });
    }
</script>



<div class="jumbotron">
    <h1>Cloudflow</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Agents</h3>
            </div>
            <div class="panel-body">
                <p>
                    Use this section to control your agents.
                </p>
                @Html.ActionLink("Add", "Create", "AgentConfigurations", null, new
                   {
                       data_modal = "",
                       data_modalcontainer = "modalAgent",
                       data_modalcontent = "modalAgentContent",
                       id = "btnAdd",
                       @class = "btn btn-small btn-primary"
                   })
            </div>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Machine Name</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var agent in Model.AgentConfigurations)
                {
                    <tr>
                        <td>@agent.MachineName</td>
                        <td>
                            @{
                                if (@agent.Enabled)
                                {
                                    <a href="#" id="agentStatus-@agent.MachineName">
                                        <script>
                                            SetStatusText("@agent.MachineName");
                                        </script>
                                    </a>
                                }
                                else
                                {
                                    <text>Disabled</text>
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "AgentConfigurations", new { id = @agent.Id }, new
                       {
                           data_modal = "",
                           data_modalcontainer = "modalAgent",
                           data_modalcontent = "modalAgentContent",
                           @class = "btn btn-small btn-default"
                       })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "AgentConfigurations", new { id = @agent.Id }, new
                                {
                                    data_modal = "",
                                    data_modalcontainer = "modalAgent",
                                    data_modalcontent = "modalAgentContent",
                                    @class = "btn btn-small btn-default"
                                })
                        </td>
                        <td><a href="#" class="enableJobLink" data-machinename="@(agent.MachineName)">Enable Job</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="modal fade in" id="modalAgent" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalAgentContent"></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".enableJobLink").each(function () {
            $(this).on("click", function (e) {
                var $item = $(e.target);
                var machineName = $item.attr("data-machinename");
                EnableJob(machineName);

                return false;
            });
        });
    });
</script>

@section Scripts {

}