@model Cloudflow.Web.ViewModels.Agents.IndexViewModel

@{
    ViewBag.Title = "Agent Explorer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headScripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/Scripts/Agents/Index.js"></script>
}

<header class="page-header">
    <h3>Agent Explorer</h3>
</header>

<section id="AgentsIndex">
    <section class="col-sm-4">
        <ul class="nav nav-list">
            <li class="nav-header">Agents</li>
            <li class="divider"></li>
            <li><a href="#">All</a></li>
            <li class="divider"></li>
            @foreach (var agent in Model.AgentConfigurations)
            {
                <li><a href="#">@agent.MachineName</a></li>
            }
        </ul>
    </section>
    

    <section class="col-sm-8">
        <ul class="nav nav-tabs">
            <li>
                <a href="#">Queued</a>
                <setion>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Job</th>
                            <th>Started</th>
                        </tr>
                        @for (int i = 0; i < 10; i++)
                        {
                            <tr>
                                <td>Example of a run Name @i</td>
                                <td>Test Job</td>
                                <td>@DateTime.Now.ToString()</td>
                            </tr>
                        }
                    </table>
                </setion>
            </li>
            <li>
                <a href="#">Completed</a>
                <section>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Job</th>
                            <th>Sarted</th>
                            <th>Completed</th>
                        </tr>
                        @for (int i = 0; i < 10; i++)
                        {
                            <tr>
                                <td>Example of a run Name @i</td>
                                <td>Test Job</td>
                                <td>@((DateTime.Now - TimeSpan.FromMinutes(5)).ToString())</td>
                                <td>@DateTime.Now.ToString()</td>
                            </tr>
                        }
                    </table>
                </section>
            </li>
        </ul>
    </section>
</section>